<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenido/a</title>
  </head>
  <body>
    <h1>Bienvenido/a, {{ user.name }}!</h1>
    <p>Gracias por registrarte en nuestro sitio. Para verificar tu cuenta, ingresa el siguiente código: {{ user.no_verificacion }}</p>
  </body>
</html>
